.header_text {
    padding: 100px 0;
    font-size: 60px;
    text-align: center;
}

header {
    background: whitesmoke;
	padding-top: 40px;
}
.fixed-nav {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.intro {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
	margin-bottom: 80px;
}
.ipsGrid.grid-example div {
    background-color: #AFAEAE;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
pre.code-pre {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 0 0 5px 5px;
	margin-bottom: 15px;
    background-color: white;
}

.code-header {
    background-color: black;
    display: block;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin-bottom: -13px;
	margin-top: 15px;
}
div#social {
    text-align: center;
    position: relative;
    top: -60px;
    height: 40px;
    margin-top: -7px;
    padding-bottom: 10px;
}
footer {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.blob-wrapper.data.type-html {
    max-height: 300px;
    overflow: auto;
}